main{
    padding-bottom: 60px; 
}
img{
    margin-bottom: 0px;
    width: 210px;
    height: 90px;
}

.a{
    margin: 0px;
    background-color: black;
    width: 100%;
    height: 45px;
}

.a li{
    list-style: none;
    color: white;
    float: left;
    line-height: 45px;
    padding-right: 30px;
}

a{
    color:black;
    text-decoration: none;
}


.ul{
    width: 500px;
    margin: 0 auto;
}


.ul li {
    list-style: none;
    margin-bottom: 20px;
}

.ul2{
    width: 500px;
    margin: 0 auto;
    margin-top: 100px;
}
.ul2 li {
    list-style: none;
    margin-bottom: 45px;
}

.form_name {
    margin-right: 10px;
    width: 170px;
    float: left;
}
.submit{
    display: block;
    margin: 0 auto;
}
.submit2{
    display: block;
    margin: 0 auto;
    margin-top: 30px;
}
.text-danger{
    color: red;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 180px; 
}
.text-danger-pass{
    color: red;
    margin-top: 5px;
    margin-bottom: 0px;
    margin-left: 50px;
}
.botton1{
    float: left;
    margin-left: 15px;
    margin-right:40px;
}
.botton3{
    float: left;
    margin-left: 750px;
    margin-right:40px;

}
.botton4{
    display: flex;
    justify-content: center;
    margin-right: 85px;
    margin-top: 80px;
}
.botton4 button{
     margin-right: 30px;
}

.h2{
    margin-bottom: 200px;
}

.center{
    text-align: center;
    margin-bottom: 250px;
}

.center2{
    margin-top: 250px;
    margin-bottom: 250px;
}

.itiran{
    text-align: center;
    margin-top: 100px;
}

th{
    text-align: center;
    margin-right: 5px;
    margin-left: 5px;
}

td{
    text-align: center;
}
.login_err{
    color :red;
    text-align: center;
    margin-top: 100px;
    font-size: 20px;
}
.login_err2{
    color: red;
    margin-left: 150px;
}

footer{
    position: fixed;
    left: 0;
    bottom: 0;
    background-color: black;
    color: white;
    text-align: center;
    width: 100%;
    height: 40px;
    margin-top: 10px;
}